{% extends 'base.html'%}

{% block conteudo%}
<div class="container">

    <h1 class="display-1">Olá {{usuario.nome}}!</h1>

    <hr>

    <div>
        <h5>Lorem ipsum dolor sit amet!</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quasi ipsa, totam quo voluptatibus deleniti,
            voluptatum <b> pariatur rem assumenda nam</b>  officia omnis, eveniet delectus! Aperiam quos eligendi enim fuga
            magni!
        </p>
    </div>
</div>
{% endblock%}